<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Trip App{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    
</head>
<body>
    <nav class="app-navbar">
        <div class="container">
            <div class="nav-content">
                <div class="nav-brand">
                    <strong>ReimburseMe</strong>
                </div>
                <ul class="nav-links">
                    <li><a href="/" class="nav-link">Upload</a></li>
                    <li><a href="/trips" class="nav-link">View Trips</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container">
        <div class="card">
            {% block content %}{% endblock %}
        </div>
    </main>        
</body>
</html>